<%= form_for(@finance) do |form| %>
  <% if finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label "Usuário" %>
    <%= form.collection_select(:user_id, User.all, :id, :name, prompt: false)%>
  </div>
 
  <div class="field">
    <%= form.label "Descrição" %>
    <%= form.text_field :debt %>
  </div>

  <div class="field">
    <%= form.label "Valor" %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label "Status" %>
    <div style="display: inline-block;">
      <%= form.radio_button :status, "Não pago" %>
    </div>
    <div style="display: inline-block;">
      <%= form.label :status_not_paid, "Não pago"%>
    </div>
    <div style="display: inline-block;">
      <%= form.radio_button :status, "Pago" %>
    </div>
    <div style="display: inline-block;">
      <%= form.label :status_paid, "Pago"%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
