<%= form_for :session, url: sign_in_path do |f| %>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :senha %><br/>
    <%= f.password_field :pwd, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
<p>Novo usuário? <%= link_to "Clique aqui para se registrar!", new_user_path %></p>
<% end %>