<p id="notice"><%= notice %></p>

<p>
  <strong>Treino:</strong>
  <%= @presenca.treino %>
</p>

<p>
  <strong>User:</strong>
  <%= @presenca.user %>
</p>

<%= link_to 'Edit', edit_presenca_path(@presenca) %> |
<%= link_to 'Back', presencas_path %>
