<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @treino.Data %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @treino.Descricao %>
</p>

<%= link_to 'Edit', edit_treino_path(@treino) %> |
<%= link_to 'Back', treinos_path %>
