<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @treino.Data %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @treino.Descricao %>
</p>


<p>
  <strong>Lista de presença:</strong>
  <% @treino.users.each do |user| %>
	<%= user.name %>
  <% end %>
</p>

<p>
  <strong>Presença total:</strong>
  <%= @treino.users.count %>
</p>
  

	
</p>
<%if @user.role == 'Técnico' %>
	<%= link_to 'Editar', edit_treino_path(@treino) %> |
<% end %>	
<%= link_to 'Voltar', treinos_path %>
