<%= form_for(user, html: { multipart: true }) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :document %>
    <%= form.text_field :document %>
  </div>

  <div class="field">
    <%= form.label :pwd %>
    <%= form.password_field :pwd %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, ['Livre','Costas','Borboleta','Peito','Medley'] %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, ['Atleta','Técnico','Diretor'] %>
  </div>
  
  <div class="field">
	  <%= form.label :photo %><br />
	  <%= form.file_field :photo %>
  </div>


  <div class="field">
    <%= form.label :profilepic %>
    <%= form.file_field :profilepic %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
