<p id="notice"><%= notice %></p>

<h1>Equipe de Natação</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Documento</th>
      <th>Senha</th>
      <th>Idade</th>
      <th>Altura</th>
      <th>Peso</th>
      <th>Modalidade</th>
      <th>Descrição</th>
      <th>Papel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.document %></td>
        <td><%= user.pwd %></td>
        <td><%= user.age %></td>
        <td><%= user.height %></td>
        <td><%= user.weight %></td>
        <td><%= user.category %></td>
        <td><%= user.description %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Visualizar', user %></td>

        <% if @user.role == 'Técnico' %>
          <td><%= link_to 'Editar', edit_user_path(user) %></td>
          <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuário', new_user_path %>
