<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>
  <%= f.label :Nome %>
  <%= f.search_field :name_cont %>
  
  <%= f.label :Sexo %>
  <%= f.select :sex_eq , ['Feminino','Masculino'], include_blank: true %>
  
  <%= f.label :Modalidade %>
  <%= f.select :category_eq , ['Borboleta','Costas', 'Peito', 'Livre', 'Medley'], include_blank: true %>

<%= f.submit "Busca" %>
  
<% end %>

<h1>Equipe de Natação</h1>

<% @total = 0%>
<% @users.each do |user| %>
      <% if user.role == 'Atleta'%>
		<% @total = @total + 1%>
      <% end %>
<% end %>


<table>

  <thead>
    <tr>
      <th>Foto</th>
	  <th><%=sort_link(@q,:name, "Nome") %></th>
      <th><%=sort_link(@q,:age, "Idade")%></th>
      <th><%=sort_link(@q,:height, "Altura")%></th>
	  <th><%=sort_link(@q,:weight,"Peso")%></th>
	  <th><%=sort_link(@q,:category,"Modalidade")%></th>
	  <th><%=sort_link(@q,:role,"Função")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user.role == 'Atleta'%>
        <tr>
          <td>
          <% if user.has_photo? %>
            <%= link_to image_tag(@user.photo_path,:size => '60x60'),user %>
          <% else %>
            <%= image_tag 'profile.png',:size => '60x60' %>
          <% end %>
          </td>
          <td><%= user.name %></td>
          <!--td><%= user.email %></td>
          <td><%= user.document %></td>
          <td><%= user.pwd %></td-->
          <td><%= user.age %> anos</td>
          <td><%= user.height %> m</td>
          <td><%= user.weight %> kg</td>
          <td><%= user.category %></td>
          <!--td><%= user.description %></td-->
          <td><%= user.role %></td>
		
          <% if (@user.role == 'Técnico' || @user.role == 'Diretor') %>
          <td><%= link_to image_tag('edit.png',:size => '20x20'),edit_user_path(user)%></td>
          <td><%= link_to image_tag('rubbish-bin.png',:size => '20x20'), user, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          <% end %>

      <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<h3> Total de atletas: <%= @total %> </h3>

<br>

<h1>Gestão da Equipe</h1>

<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th><%=sort_link(@q,:name, "Nome") %></th>
      <!--th>Email</th>
      <th>Documento</th>
      <th>Senha</th>
      <th>Idade</th>
      <th>Altura</th>
      <th>Peso</th>
      <th>Modalidade</th>
      <th>Descrição</th-->
      <th><%=sort_link(@q,:role,"Função")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if (user.role == 'Técnico' || user.role == 'Diretor')%>
        <tr>
          <td>
          <% if user.has_photo? %>
            <%= link_to image_tag(@user.photo_path,:size => '60x60'),user %>
          <% else %>
            <%= image_tag 'profile.png',:size => '60x60' %>
          <% end %>
          </td>
          <td><%= user.name %></td>
          <!--td><%= user.email %></td>
          <td><%= user.document %></td>
          <td><%= user.pwd %></td>
          <td><%= user.age %></td>
          <td><%= user.height %></td>
          <td><%= user.weight %></td>
          <td><%= user.category %></td>
          <td><%= user.description %></td-->
          <td><%= user.role %></td>

          <% if(user.role == 'Técnico')%>
            <% if (@user.role == 'Diretor') %>
            <td><%= link_to image_tag('edit.png',:size => '20x20'),edit_user_path(user)%></td>
            <td><%= link_to image_tag('rubbish-bin.png',:size => '20x20'), user, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
            <% end %>
          <% end %>

          <% if(user.role == 'Diretor')%>
            <% if (@user.role == 'Diretor') %>
            <td><%= link_to image_tag('edit.png',:size => '20x20'),edit_user_path(user)%></td>
            <td><%= link_to image_tag('rubbish-bin.png',:size => '20x20'), user, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
            <% end %>
          <% end %>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if @user.role == 'Diretor' %>
<div class="new_user">
  <%= link_to 'Novo Usuário', new_user_path %>
</div>
<% end %>

<% if (@user.role == 'Diretor')%>
	<%= link_to "Finanças", finances_path %>	
<% end %>