<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <% if @user.has_photo? %>
      <div class="profile-img">
        <%= image_tag('profile.png',class: "rounded")%>
        <div class="file btn btn-lg btn-primary">
            Editar Foto
            <input type="file" name="file"/>
        </div>
      </div>
    <% else %>
      No photo.
    <% end %>
  </div>

  <div class="col-md-8">
    <div class="profile-desc">
      <h2 class="name"><%= @user.name %></h2>

      <h3 class="description"><small><%= @user.description %></small></h3>
    </div>
  </div>
</div>

  <!--p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= @user.document %>
  </p>

  <p>
    <strong>Pwd:</strong>
    <%= @user.pwd %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @user.age %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= @user.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= @user.weight %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @user.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @user.description %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @user.role %>
  </p-->

</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>