<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do Evento:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @event.date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Local:</strong>
  <%= @event.local %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Inscritos:</strong>
  <% @event.subscriptions.each do |subscription| %>
	<%= subscription.user.name %>
  <% end %>
</p>

<p>
  <strong>Total de Inscritos:</strong>
  <%= @event.subscriptions.count%>
</p>




<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
