<%= form_with(model: subscription, local: true) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <% @current_user ||= User.find_by(id: session[:user_id]) %>
 <div class="field">
    <%= form.label :user_id %>
    <% if(@current_user.role == 'Técnico' || @current_user.role == 'Diretor') %>
      <%= form.collection_select(:user_id, User.all, :id, :name, prompt: false)%>
    <% else %>
      <%= form.collection_select(:user_id, [@current_user], :id,:name,prompt: false) %>
    <% end%>
  </div>

  <div class="field">
    <%= form.label :Evento %>
    <%= form.collection_select(:event_id, Event.all, :id, :name, prompt: false)%>
  </div>

  <div class="field">
    <%= form.label :Status %>
    <%= form.select :status , ['Confirmed', 'Pendent']  %>
  </div>

  <div class="field">
    <%= form.label :Informações_adicionais %>
    <%= form.text_area :additional_info %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
