<p id="notice"><%= notice %></p>

<p>
  <strong>Usuário:</strong>
  <%= @subscription.user.name %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @subscription.event.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @subscription.status %>
</p>

<p>
  <strong>Informações adicionais:</strong>
  <%= @subscription.additional_info %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
