<%= form_with(model: performance, local: true) do |form| %>
  <% if performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
      <% performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% @current_user ||= User.find_by(id: session[:user_id]) %>
 <div class="field">
    <%= form.label :Usuário %>
    <% if(@current_user.role == 'Técnico' || @current_user.role == 'Diretor') %>
      <%= form.collection_select(:user_id, User.all, :id, :name, prompt: false)%>
    <% else %>
      <%= form.collection_select(:user_id, [@current_user], :id, :name, prompt: false)%>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :Estilo %>
    <%= form.select :style, ['Borboleta', 'Costas', 'Peito', 'Livre', 'Medley'] %>
  </div>

  <div class="field">
    <%= form.label :Distância %>
    <%= form.select :distance, [50, 100, 200, 400, 800, 1500] %>
  </div>

  <div class="field">
    <%= form.label :Tamanho_da_piscina %>
    <%= form.select :pool_length, [25, 50] %>
  </div>

  <div class="field">
    <%= form.label :Tempo %>
    <%= form.text_field :time %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, {order:  [:day, :month, :year]}   %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
