<p id="notice"><%= notice %></p>
<%= search_form_for @q do |f| %>
  <%= f.label :Atleta %>
  <%= f.search_field :user_name_start %>
  
  <%= f.label :Sexo %>
  <%= f.select :user_sex_eq , ['Feminino','Masculino'], include_blank: true %>
  
  <%= f.label :Modalidade %>
  <%= f.select :style_eq, ['Borboleta', 'Costas', 'Peito', 'Livre', 'Medley'], include_blank: true %>
  
  <%= f.label :Distância %>
  <%= f.select :distance_eq, [ 50, 100, 200, 400, 800, 1500], include_blank: true %>

  <%= f.label :Tamanho_da_piscina %>
  <%= f.select :pool_length_eq, [ 25, 50], include_blank: true %>
   <div> 
  <%= f.label :Data_inicial %>
  <%= f.date_select :date_gteq, {order:  [:day, :month, :year],include_blank: true}   %>

  <%= f.label :Data_final %>
  <%= f.date_select :date_lteq, {order:  [:day, :month, :year],include_blank: true}   %>
    
  <%= f.submit "Busca" %>
  </div>
<% end %>
<h1>Desempenho</h1>

<table>
  <thead>
    <tr>
      <th><%=sort_link(@q,:user_name, "Atleta") %></th>
	  <th><%=sort_link(@q,:style, "Modalidade")%></th>
      <th><%=sort_link(@q,:distance, "Distância")%></th>
      <th><%=sort_link(@q,:pool_length, "Tam. Piscina")%></th>
	  <th><%=sort_link(@q,:time,"Tempo")%></th>
	  <th><%=sort_link(@q,:date,"Data")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @performances.each do |performance| %>
      <tr>
	    <td><%= performance.user.name %></td>
        <td><%= performance.style %></td>
        <td><%= String(performance.distance) + 'm' %></td>
        <td><%= String(performance.pool_length) + 'm' %></td>
        <% if performance.time >= 60 %>
          <% @minute = Integer(performance.time)/60 %>
          <% @remainder_sec = (performance.time%60).floor %>
          <% @remainder = Integer((performance.time%1)*100)%>
          <td><%= String(@minute) + '.' + String(@remainder_sec) + ':' + String(@remainder) %></td>
        <% else %> 
          <td><%= performance.time %></td>
        <% end %>
        <td><%= performance.date.strftime("%d/%m/%Y") %></td>
        <% if (@user.role == 'Técnico' || @user.role == 'Diretor' || @user.name == performance.user.name) %>
			<td><%= link_to image_tag('edit.png',:size => '20x20'), edit_performance_path(performance) %></td>
			<td><%= link_to image_tag('rubbish-bin.png',:size => '20x20'), performance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p style="text-align:center"><%= link_to 'Adicionar nova performance', new_performance_path %></p>
