<p id="notice"><%= notice %></p>

<p>
  <strong>Estilo:</strong>
  <%= @performance.style %>
</p>

<p>
  <strong>Distância:</strong>
  <%= @performance.distance %>
</p>

<p>
  <strong>Tamanho da Piscina:</strong>
  <%= @performance.pool_length %>
</p>

<p>
  <strong>Tempo:</strong>
  <%= @performance.time %>
</p>

<p>
  <strong>Data:</strong>
  <%= @performance.date.strftime("%d/%m/%Y") %>
</p>

<%= link_to 'Editar', edit_performance_path(@performance) %> |
<%= link_to 'Voltar', performances_path %>

