<header>
        <div class="topnav">
          <% if logged_in? %>
            <%= link_to "Equipe", users_path %>
            <%= link_to "Perfil", current_user %>
            <%= link_to "Configurações", '#' %>
            <%= link_to "Sair", sign_out_path, method: "delete" %>
          <% else %>
            <%= link_to "NÃO ESTÁ LOGADO!", root_path %>
          <% end %>
        </div>
</header>