<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoSi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/assets/viewportchecker.self-61906fa62ed44810ff96f5eacc32c81866f40942105a2e75746f3d7e59b047ca.js?body=1"></script>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <%= yield %>
  </body>
</html>
